/*BLOCKS*/
$line: 2px solid red;

/*lines*/
$mid-w: 23px;
$mid-l:249px;
$mid-t:43px;

/*2 lines*/
$top-w: 48px;
$top-l:224px;
$top-t:-6px;
$top-transform:rotate(-14deg);

$bot-w: 48px;
$bot-l:224px;
$bot-t:93px;
$bot-transform:rotate(14deg);

/*3 lines*/
$threeTop-w: 83px;
$threeTop-l:206px;
$threeTop-t:-32px;
$threeTop-transform:rotate(-53deg);

$threeBot-w: 83px;
$threeBot-l:206px;
$threeBot-t:120px;
$threeBot-transform:rotate(53deg);




/*TREE*/
$block-bcg: url('../images/container-test.png') center center no-repeat;
$block-w: 250px;
$block-h: 89px;
$twoBlock-h: 198px;
$threeBlock-h: 307px;
$gap-between-blocks: 20px;
/*end of TREE*/



.canvas {
	display: table;

	.mission-block + .mission-block {
		margin-top: $gap-between-blocks; 
	}
}

.column {
	display: table-cell;
	padding: 0 $block-w - 240px;
}

.mission-block {
	background: $block-bcg;
	width: $block-w;
	height: $block-h;
	position: relative;

	> select {	
	    position: absolute;
	    top: 33px;
	    left: 92px;
	    width: 72px;
	}

	&.one {
		&:after {
			content:"";
			position: absolute;
			border-top: $line;
			width: $mid-w;
			left:$mid-l; 
			top: $mid-t;
		};

		.mission-block__dummy {
			display: none;
		}
	}

	&.two {
		/*height: $twoBlock-h;*/
		.mission-block__dummy {
			display: block;
			position: relative;
			width: 100%;
			height: 100%;

			&:before {
				content:"";
				position: absolute;
				border-top: $line;
				width: $top-w;
				left:$top-l; 
				top: $top-t;
				transform: $top-transform;
			};

			&:after {
				content:"";
				position: absolute;
				border-top: $line;
				width: $bot-w;
				left:$bot-l; 
				top: $bot-t;
				transform: $bot-transform;
			};
		}
			
	}

	&.three {
		/*height: $threeBlock-h;*/
		&:after {
			content:"";
			position: absolute;
			border-top: $line;
			width: $mid-w;
			left:$mid-l; 
			top: $mid-t;
		};

		.mission-block__dummy {
			display: block;
			position: relative;
			width: 100%;
			height: 100%;

			&:before {
				content:"";
				position: absolute;
				border-top: $line;
				width: $threeTop-w;
				left:$threeTop-l; 
				top: $threeTop-t;
				transform: $threeTop-transform;
			};
			&:after {
				content:"";
				position: absolute;
				border-top: $line;
				width: $threeBot-w;
				left:$threeBot-l; 
				top: $threeBot-t;
				transform: $threeBot-transform;
			};
		}
	}

}

.mission-board {
	tr {
		display: block;

		& + tr {
			margin-top: 20px;
		}

	}

	&__column {
		padding: 0 10px;
	}

	td.one {}
	td.two {
		height: $twoBlock-h;
	}
	td.three {
		height: $threeBlock-h;
	}


}	