<div style="padding:50px 0">
	<!-- <div class="mission-block one"></div> -->
	<div class="block-set one">
		<div class="mission-block one"></div>
		<div class="mission-block"></div>
	</div>

	<div class="block-set two">
		<div class="mission-block two">
			<span class="mission-block__dummy"></span>
		</div>
		<div class="mission-block"></div>
		<div class="mission-block"></div>
	</div>

	<div class="block-set three">
		<div class="mission-block one">
			<span class="mission-block__dummy three"></span>
		</div>
		<div class="mission-block"></div>
		<div class="mission-block one">
			<span class="mission-block__dummy three"></span>
		</div>
		<div class="mission-block"></div>
	</div>
</div>