<div style="padding:50px 0">
	<!-- <div class="mission-block one"></div> -->
	<table class="mission-board">
		<tr>
			<td class="mission-board__column three">
				<mission-block></mission-block>
			</td>
			<td class="mission-board__column">
				<table>
					<tr>
						<td>
							<mission-block></mission-block>
						</td>
					</tr>
					<tr>
						<td>
							<mission-block></mission-block>
						</td>
					</tr>
					<tr>
						<td>
							<mission-block></mission-block>
						</td>
					</tr>
				</table>
			</td>
			<td class="mission-board__column">
				<table>
					<tr>
						<td>
							<div class="mission-block" data-ng-class="class">
								<span class="mission-block__dummy"></span>
								<select data-ng-model="class">
									<option value="">to 0</option>
									<option value="one" selected>to 1</option>
									<option value="two">to 2</option>
									<option value="three">to 3</option>
								</select>
							</div>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>

	<hr style="20px 0"></hr>

	<mission-block></mission-block>

</div>